@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;500;600&display=swap');

/* CSS Reset de Eric Meyer */

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 100%;
}

img, picture, video, canvas {
    max-width: 100%;
    display: block;
}

input, button, textarea, select {
    font: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, ol {
    list-style: none;
}

/* Iniciando a estilização */

body{
    background-color: #ECF2F8;

  font-family: "Barlow Semi Condensed", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 13px;
}