@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;500;600&display=swap');

/* CSS Reset de Eric Meyer */

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 100%;
}

img, picture, video, canvas {
    max-width: 100%;
    display: block;
}

input, button, textarea, select {
    font: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, ol {
    list-style: none;
}

/* Iniciando a estilização */

body{
    background-color: #ECF2F8;
    font-family: "Barlow Semi Condensed", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    height: 100vh;
}

h1{
    display: none;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#conteudo{
    display: grid;
    width: 90%;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
}

#conteudo article{
    padding: 30px;
    border-radius: 15px;
    height: 100%;
}

#conteudo article header{
    display: flex;
    justify-content: start;
    align-items: center;
}

#conteudo article header img{
    width: auto;
    height: 50px;
    border-radius: 100%;
    margin-right: 20px;
}

#conteudo article header h2{
    font-size: 1em;
}

#conteudo article header p{
    font-size: .9em;
}

#conteudo article section blockquote{
    font-size: 1.2em;
    font-weight: 700;
    margin: 20px 0px;
}

#conteudo article section p{
    font-size: .9em;
    opacity: .5;
}



#box-esquerdo {
    gap: 10px;
}

#box-esquerdo > :nth-child(odd) article:first-child{
    background-image: url('bg-pattern-quotation.svg');
    background-repeat: no-repeat;
    background-position: top right 100px;
}

/* Primeira linha (par) → 2fr 1fr */
#box-esquerdo > :nth-child(odd) {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
}

/* Segunda linha (ímpar) → 1fr 2fr */
#box-esquerdo > :nth-child(even) {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    margin-top: 20px;
}

.bg-branco{
    background-color: #fff;
}

.bg-branco img{
    border: 3px solid #19212e;
}

.bg-roxo{
    background-color: #7541c8;
}

.bg-roxo img{
    border: 3px solid #fff; 
}

.bg-cinza{
    background-color: #48556a;
}

.bg-cinza img{
    border: 3px solid #7541c8;  
}

.bg-cinza-escuro{
    background-color: #19212e;
}

.bg-cinza-escuro img{
    border: 3px solid #7541c8; 
}

.bg-roxo, .bg-cinza, .bg-cinza-escuro{
    color: #fff;
}

@media (max-width: 768px) {
    main{
        display: flex;
        justify-content: center;
        align-items: start;
        height: 100vh;
        margin: 20px 0px;
    }

    #conteudo, #box-esquerdo > :nth-child(odd), #box-esquerdo > :nth-child(even){
        grid-template-columns: 1fr;
    }

    #box-direito{
        margin-bottom: 20px;
    }

    #box-esquerdo > :nth-child(odd) article:first-child{
        background-image: url('bg-pattern-quotation.svg');
        background-repeat: no-repeat;
        background-position: top right 20px;
    }
}